@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.button {
    button {
    width: 80px;
    height: 30px;
    background-color: tomato;
    border: none;
    color: white;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    
        &:hover {
            cursor: pointer;
        }
    }
}